@font-face {
  font-family: 'Segoe UI';
  src: local('system-ui'), local('Segoe UI'), local('-apple-system'),
    local('BlinkMacSystemFont'), local('Inter'), local('Cantarell'),
    local('Ubuntu'), local('Roboto'), local('Open Sans'), local('Noto Sans'),
    local('Helvetica Neue'), local('sans-serif');
}
div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;

  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-size: 12px;
}
